body{
	background: #DDDDDD;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
h2, h3{
	margin-top: 10px;
	text-align: center;
}
.navbar-default{
	border-radius: 0;
}
footer{
	vertical-align: bottom;
	margin-top: auto;
	text-align: center;
	width: 100%;
	padding: 20px 0;
}
#logo{
	margin-right: 10px;
	margin-bottom: 10px;
}
.imgtxt{
	font-size: 15px;
	box-sizing: content-box;
	color: #fff;
	text-align: center;
	background: #625D5D;
	/*position: absolute;
	bottom: 10%;*/
	padding: 10px 0;
	margin-top: 0px;
	marbin-bottom: 10px;
	/*width: 70%;*/
}
nav{
	background-color: gray;
}
.panel{
	/*border-width: 2px;
	border-color: darkred;
	border-style: solid;*/
	background: white;
	overflow: auto;
	padding: 3%;
	margin-top: 10px;
}
.down-shift{
	margin-top: 10px;
}
.port_item{
	position: relative;
	height: 200px;
}
footer.page-footer{
	background-color: #625D5D;
}
a.imglink{
  position:relative;
	height: 150px;
	overflow: hidden;
}

@media only screen and (min-width: 0) {
	.header.logo{
		height: 58px;
		width: auto;
	}
}

@media only screen and (min-width: 601px) {
	.header.logo{
		height: 64px;
		width: auto;
	}
}
